<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink] = "['home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="authService.isAdmin()">
          <a class="nav-link" [routerLink] = "['admin']">Admin</a>
        </li>
        <li class="nav-item" style="cursor: pointer;" *ngIf="authService.isAuthenticated()">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>

    <span *ngIf="authService.isAuthenticated()" style="color: white;"> Logged In As {{ authService.user.email }}</span>
</nav>
  