<ng-container *ngIf="!authenticationService.isAuthenticated()">
  <h1 class="form-title">New Booking</h1> 

  <div class="opt-request-outter">
    <p class="form-icon">1</p>
    <div class="otp-request-inner">
      <input #email class="email-input" type="email" placeholder="Email">
      <button type="submit" class="submit-button request-code-button btn btn-primary" (click)="requestOtp(email)">Request Code</button>
      <button [disabled]="!emailSent" type="submit" class="btn btn-secondary" (click)="sendOtpEmail(true)">Resend Code</button>
      <div class="alert alert-success" role="alert" *ngIf="emailSent">
        An email has been sent.
      </div>
    </div>
  </div>
  
  
  <div class="opt-request-outter opt-verify-outter">
    <p class="form-icon">2</p>
    <div class="otp-request-inner">
      <input [disabled]="!emailSent" #otp class="email-input" type="text" id="inputOtp" placeholder="Code">
      <button [disabled]="!emailSent" type="submit" class="submit-button request-code-button btn btn-primary" (click)="verifyOtp(otp)">Proceed To Booking</button>
      <div class="alert alert-danger" role="alert" *ngIf="error">
        {{ error }}
      </div>
    </div>

  </div>

</ng-container>


<app-book-new *ngIf="authenticationService.isAuthenticated()"></app-book-new>