.form-title{
    margin: 3rem 0;
    font-weight: 200;
    text-align: center;
    font-size: 4rem;
}

.opt-request-outter {
    display: flex;
    justify-content: center;
}

.otp-request-inner {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
}

.form-icon {
    font-size: 4rem;
    align-self: center;
    margin-right: 3rem;
}                 

.email-input{
    text-align: center;                                                         
}

.request-code-button{
    margin: 0.5rem 0;
}

.opt-verify-outter {
    margin-top: 5rem;
}

@media screen and (max-width: 500px) {
    .form-title{
        font-size: 3rem;
    }
    
    .opt-request-outter {
        flex-direction: column;
    }
    
    .otp-request-inner {
        width: 80%;
        margin: 0 auto;
    }
    
    .form-icon {
        font-size: 3rem;
        margin-right: 0;
    }

    .opt-verify-outter {
        margin-top: 2rem;
    }
}