<div class="text-center mt-5">
    <form style="max-width: 300px;margin: auto;">
        <h1 class="h3 mb-3 font-weight-normal">Send Reset Email</h1>
        <div class="form-group">
            <input #email type="email" name="email" id="email" class="form-control" placeholder="Email" required>
        </div>
        <div *ngIf="message" class="alert alert-success" role="alert">
            {{ message }}
          </div>
        <div *ngIf="error" class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" value="submit" (click)="sendEmail(email)">Send Reset Email</button>
    </form>
</div>