<div class="container">
  <h2 class="my-3">Planning to come?</h2>
  <ng-container *ngIf="authService.user.verified; else verify_phone">
    <button type="button" class="btn btn-outline-success" [routerLink]="['/book-new']">Book Now</button>
  </ng-container>
  <ng-template #verify_phone>
    <p class="lead">
      Please <button type="button" class="btn btn-outline-secondary mx-2" [routerLink]="['/profile']">Verify</button> your phone before booking.
    </p>
    
  </ng-template>

  <h2 class="mt-5">My Visits</h2>
  <p class="lead" *ngIf="bookings.length == 0">
    Nothing yet :(
  </p>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Guests</th>
        <th scope="col">Status</th>
        <th scope="col">Modify</th>
        <th scope="col">Messages</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let booking of bookings">
          <td> {{ booking.dateFrom | date: 'dd-MM-yyyy' }} </td>
            <td> {{ booking.dateTo | date: 'dd-MM-yyyy' }} </td>
            <td> {{ booking.guests }} </td>
            <td class="alert" [ngClass]="getStatusClass(booking.status)" role="alert"> {{ booking.status }} </td>
            <td> 
              <button type="button" class="btn btn-outline-primary mr-2" (click)="myModal.openModal()">Modify</button> 
              <app-admin-booking-edit-modal #myModal [id]="booking.id" [mode]="'USER'" (bookingUpdatedEvent)="bookingUpdatedEvent($event)"></app-admin-booking-edit-modal>
            </td>
            <td> 
              <button type="button" class="btn btn-outline-primary" (click)="messagesModal.openModal()">Messages</button> 
              <app-admin-booking-message-modal #messagesModal [id]="booking.id" [mode]="'USER'"></app-admin-booking-message-modal>
            </td>
        </tr>
    </tbody>
  </table>
    </div>