<div class="container">
  <h4 class="display-4">Change Booking</h4>
  <form class="my-form" *ngIf="form && booking" [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <mat-form-field >
      <mat-label>When</mat-label>
  
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="From Date" required formControlName="dateFrom">
        <input matEndDate placeholder="To Date" required formControlName="dateTo">
      </mat-date-range-input>
  
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
  
      <mat-error *ngIf="form.controls.dateFrom.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="form.controls.dateTo.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      <mat-error *ngIf="form.controls.dateFrom.errors?.required">From Date Required</mat-error>
      <mat-error *ngIf="form.controls.dateTo.errors?.required">To Date Required</mat-error>
    </mat-form-field>
  
    <mat-form-field>
        <mat-label>Guests</mat-label>
        <input matInput type="number" class="form-control" name="guests" formControlName="guests">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Status</mat-label>
        <input matInput type="text"  name="status" value="{{ booking.status }}" readonly>
      </mat-form-field>
  
    <button class="btn btn-success">Request Changes</button>
  
  </form>

  <hr>
  <div class="mt-3">
    <h4 class="display-4">Messages</h4>
    <div *ngFor="let note of notes;" class="card">
      <div class="card-header">
        {{ note.user }}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ note.note }}</p>
          <footer class="blockquote-footer">{{ note.date | date:'medium' }}</footer>
        </blockquote>
      </div>
    </div>
    <br>
    <form role="form" id="contact-form" class="contact-form" >
        <div class="form-group">
          <textarea [(ngModel)]="message" class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="btn main-btn pull-right" [disabled]="!message" (click)='submitMessage()'>Send a message</button>
  </form>
  </div>
  
    
  

</div>