<ng-template #myModal let-modal>
    <h1>Edit Booking ({{ id }})</h1>
    <form class="my-form" *ngIf="form && booking" [formGroup]="form" (ngSubmit)="onFormSubmit()">
        <mat-form-field >
          <mat-label>When</mat-label>
      
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="From Date" required formControlName="dateFrom">
            <input matEndDate placeholder="To Date" required formControlName="dateTo">
          </mat-date-range-input>
      
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
      
          <mat-error *ngIf="form.controls.dateFrom.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="form.controls.dateTo.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          <mat-error *ngIf="form.controls.dateFrom.errors?.required">From Date Required</mat-error>
          <mat-error *ngIf="form.controls.dateTo.errors?.required">To Date Required</mat-error>
        </mat-form-field>
      
        <mat-form-field>
            <mat-label>Guests</mat-label>
            <input matInput type="number" class="form-control" name="guests" formControlName="guests">
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <select matNativeControl required formControlName="status">
                <option *ngFor="let status of statuses" [value]="status" [selected]="booking.status === status">{{status}}</option>
            </select>
          </mat-form-field>

          <div class="alert alert-danger my-3" role="alert" *ngIf="error">
            {{ error }}
          </div>
          
        <button class="btn btn-success">{{ mode === 'USER' ? 'Request Changes' : 'Save'}}</button>
      
      </form>
</ng-template>