<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Banias Camping</h1>
      <p class="lead">Welcome!</p>
    </div>
  </div>
  
<div class="container">
  <button class="btn-wrapper">
    <i class="btn-icon fa fa-info" style="margin-left: 15px;"></i>
    <span class="btn-text">Must Read</span>
  </button>
  
  <button [routerLink] = "['/book-new-otp']" class="btn-wrapper">
    <i class="btn-icon fa fa-edit"></i>
    <span class="btn-text">Book Now</span>
  </button>

  <button [routerLink] = "['/book-view-otp']" class="btn-wrapper">
    <i class="btn-icon fa fa-address-card"></i>
    <span class="btn-text">My Booking</span>
  </button>


</div>
