#wrapper {
    display: grid;
    grid-template-areas: "welcome welcome"
                         "contact  book"
                         "contact  view";
    grid-template-rows: 3fr 2fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 1rem;
    margin: 5rem auto;
    max-width: 1100px;
  }
  
  .btn-wrapper {
    outline: none;
  }

  .flex-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #wrapper .welcome {
    grid-area: welcome;
    background-color: #8ca0ff;
    text-align: center;
  }

  #wrapper .welcome .guidelines-link {
      text-decoration: underline;
      font-weight: bold;
      
  }

  #wrapper .welcome p {
    font-size: 1.2rem;
    
}

  #wrapper .welcome h1 {
    margin: 1rem 0;
  }
  #wrapper .welcome i {
    margin-top: 1.5rem;  
    font-size: 11rem;
  }

  
  #wrapper .contact {
    position: relative;
    grid-area: contact;
    background-color: #ffa08c;
  }

  .contact .btn-wrapper {
      display: flex;
      flex-direction: column;
      border: none;
      background: none;
      cursor: pointer;
      justify-content: space-around;
  }
  
  .contact .btn-wrapper i {
      font-size: 9rem;
  }

  .contact .btn-wrapper .btn-text {
    font-size: 2rem;
}

  #wrapper .book {
    grid-area: book;
    background-color: #ffff64;
  }
  
  #wrapper .view {
    grid-area: view;
    background-color: #8cffa0;
  }
  
  .book .btn-wrapper, .view .btn-wrapper  {
      display: flex;
      align-items: center;
      border: none;
      background: none;
      cursor: pointer;
  }

  .book .btn-wrapper i, .view .btn-wrapper i {
      font-size: 6rem;
      padding: 2rem;
  }

  .book .btn-wrapper p, .view .btn-wrapper p {
      font-size: 2rem;
  }

@media screen and (max-width: 790px) {
    .book .btn-wrapper, .view .btn-wrapper  {
        flex-direction: column;
    }
    .book .btn-wrapper i, .view .btn-wrapper i {
        font-size: 4rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 600px) {
    #wrapper {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
        padding: 0;
        margin: 0;
        grid-template-rows: none;
        grid-template-columns: none;
        height: 100%;
    }
    i {
        font-size: 4rem !important;
    }
    .welcome , .contact, .book, .view{
        flex: 1;
    }
}

@media screen and (max-width: 520px) {
    #wrapper .welcome i {
        font-size: 3rem !important;
    }
    #wrapper .welcome p {
        width: 80%;

    }
    #wrapper .welcome h1 {
        font-size: 2rem;
    }
}