<ng-container>
    <h1 class="form-title">My Booking</h1> 
  
    <div class="opt-request-outter" *ngIf="step<2">
      <div class="otp-request-inner">
          <input #ref class="input" type="text" placeholder="Reference Number">
          <button type="submit" class="submit-button request-code-button btn btn-primary" (click)="requestOtp(ref)">Proceed</button>
          <div class="alert alert-danger" role="alert" *ngIf="otpRequestError">
            {{ otpRequestError }}
          </div>
      </div>
    </div>
    
    <div class="opt-request-outter opt-verify-outter" *ngIf="step==1">
      <div class="otp-request-inner">
        <input #otp class="input" type="text"  id="inputOtp" placeholder="Code">
        <button type="submit" class="submit-btn btn btn-primary" (click)="verifyOtp(otp)">Proceed</button>
        <button [disabled]="!emailSent" type="submit" class="submit-btn btn btn-secondary" (click)="sendOtpEmail(true)">Resend Code</button>
        <div class="alert alert-success" role="alert" *ngIf="emailSent">
            An email has been sent.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="otpVerifyError">
          {{ otpVerifyError }}
        </div>
      </div>
    </div>
</ng-container>

<app-book-edit *ngIf="step==2" [reference]="reference"></app-book-edit>