.buttons {
  display: flex;
  justify-content: space-between;
}

.edit-title , .messages-title {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
}

.message-card {
  margin-bottom: 1rem;
}

.messages .buttons button {
  width: 160px;
}

.messages .buttons button span{
  margin-left: 10px;
}

@media screen and (max-width: 350px) {
  .edit-title , .messages-title {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }

  .messages .buttons button {
    width: 100%;
  }
  
  .messages .buttons button span{
    margin-left: 10px;
  }
}