<ng-container *ngIf="!reference">
  <h4 class="form-title">New Booking</h4>
  <div class="form-wrapper">
    <form class="my-form" [formGroup]="form" (ngSubmit)="onFormSubmit()">

      <div class="input-group">
          <label for="dateFrom">Coming On</label>
          <input type="date" class="input-control" name="dateFrom" id="dateFrom" required formControlName="dateFrom">
      </div>

      <div class="input-group">
        <label for="dateTo">Leaving On</label>
      <input type="date" class="input-control" name="dateTo" id="dateTo" required formControlName="dateTo">
    </div>

      <div class="input-group">
          <label for="guests">Guests</label>
          <input type="number" class="input-control" id="guests" min="1" name="guests" formControlName="guests" required>
        </div>

        <div class="input-group">
          <label for="contactName">Contant Name</label>
          <input type="text" class="input-control" id="contactName" name="contactName" formControlName="contactName" required>
        </div>

        <div class="input-group">
          <label for="phone">Phone</label>
          <input type="text" class="input-control" id="phone" name="phone" formControlName="phone" required>
        </div>

        <div class="input-group">
          <label for="note">Additional Notes</label>
          <textarea type="text" class="input-control" id="note" name="note" formControlName="note" rows="3"></textarea>
        </div>

      <div class="alert alert-danger my-3" role="alert" *ngIf="error">
          {{ error }}
        </div>

    <button class="btn-book btn btn-success" [disabled]="!form.valid">Book</button>

  </form>
  </div>

</ng-container>

<ng-container *ngIf="reference">
  <div class="confirmation">
    <h1 class="form-title display-3">Thank You</h1>    
    <i class="confirmation-icon fa fa-barcode"></i>        
    <p class="lead">Please write down your booking number for future reference.</p>
    <input class="input-control" type="text" [value]="reference" disabled>
    <button type="submit" class="finish-submit btn btn-light" (click)="goHome()">Finish</button>
  </div>
</ng-container>