<div class="container" *ngIf="!reference">
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <h4 class="form-title display-4 my-4">New Booking</h4>
        <div class="form-group">
            <label for="dateFrom">Coming At</label>
            <input type="date" class="form-control" name="dateFrom" id="dateFrom" required formControlName="dateFrom">
        </div>
    
        <div class="form-group">
          <label for="dateTo">Leaving At</label>
          <input type="date" class="form-control" name="dateTo" id="dateTo" required formControlName="dateTo">
      </div>

        <div class="form-group">
            <label for="guests">Guests</label>
            <input type="number" class="form-control" id="guests" min="1" name="guests" formControlName="guests" required>
          </div>

          <div class="form-group">
            <label for="contactName">Contant Name</label>
            <input type="text" class="form-control" id="contactName" name="contactName" formControlName="contactName" required>
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" formControlName="phone" required>
          </div>

          <div class="form-group">
            <label for="note">Additional Notes</label>
            <textarea type="text" class="form-control" id="note" name="note" formControlName="note" rows="3"></textarea>
          </div>

        <div class="alert alert-danger my-3" role="alert" *ngIf="error">
            {{ error }}
          </div>

      <button class="btn-book btn btn-success mt-2" [disabled]="!form.valid">Book</button>

    </form>
  </div>

  <div class="confirmation" *ngIf="reference">
    <h1 class="display-3">Thank You</h1>    
    <i class="confirmation-icon fa fa-barcode"></i>        
    <p class="lead">Please write down your booking number for future reference.</p>
    <input class="reference-box" type="text" [value]="reference" disabled>
    <button type="submit" class="confirmation-btn btn btn-light" (click)="goHome()">Finish</button>
  </div>