.btn-book {
    width: 100%;
}

.confirmation {
    text-align: center;
    margin-top: 10rem;
}

.confirmation .reference-box {
    text-align: center;
    color: grey;
    height: 3rem;
}

.confirmation-icon{
    font-size: 6rem;
}

.confirmation-btn{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 2rem;

}