<div class="container">
    <h2 style="text-align: center; margin-top: 1rem;">Add Booking</h2>
    <form class="my-form" *ngIf="form" [formGroup]="form" (ngSubmit)="onFormSubmit()">
         
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" formControlName="email">
      </div>
      
        <div class="form-group">
          <label for="dateFrom">Coming At</label>
          <input type="date" class="form-control" name="dateFrom" id="dateFrom" required formControlName="dateFrom">
      </div>
    
      <div class="form-group">
        <label for="dateTo">Leaving At</label>
        <input type="date" class="form-control" name="dateTo" id="dateTo" required formControlName="dateTo">
    </div>
        
    <div class="form-group">
        <label for="guests">Guests</label>
        <input type="number" class="form-control" id="guests" min="1" name="guests" formControlName="guests">
      </div>

      <div class="form-group">
        <label for="contactName">Contant Name</label>
        <input type="text" class="form-control" id="contactName" name="contactName" formControlName="contactName">
      </div>
    
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" formControlName="phone">
      </div>
    
      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" class="form-control" formControlName="status" required>
            <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
        </select>
      </div>
    
          <div class="alert alert-danger my-3" role="alert" *ngIf="error">
            {{ error }}
          </div>
          
          <button type="submit" class="btn-submit btn btn-success">Save</button>
      
      </form>
</div>