<div class="container">
  <form [formGroup]="searchForm" (ngSubmit)="onFormSubmit()">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" id="email" formControlName="email">
    </div>
  
    <div class="form-group">
      <label for="reference">Reference Number</label>
      <input type="text" class="form-control" name="reference" id="reference" formControlName="reference">
    </div>
    
    <div class="form-group">
      <label for="dateFromMin">Arrival (Min)</label>
      <input type="date" class="form-control" name="dateFrom" id="dateFromMin" formControlName="dateFromMin">
  </div>

    <div class="form-group">
      <label for="dateFromMax">Arrival (Max)</label>
      <input type="date" class="form-control" name="dateTo" id="dateFromMax" formControlName="dateFromMax">
  </div>
      
  <div class="form-group">
    <label for="dateToMin">Departure (Min)</label>
    <input type="date" class="form-control" name="dateFrom" id="dateToMin" formControlName="dateToMin">
  </div>

  <div class="form-group">
    <label for="dateToMax">Departure (Max)</label>
    <input type="date" class="form-control" name="dateTo" id="dateToMax" formControlName="dateToMax">
  </div>

    <button class="btn btn-primary mt-2" [disabled]="!searchForm.valid">Search</button>
</form>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Guests</th>
            <th scope="col">Status</th>
            <th scope="col">Contact Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Reference</th>
            <th scope="col">Review</th>
            <th scope="col">Messages</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings">
              <td> {{ booking.dateFrom | date: 'dd-MM-yyyy' }} </td>
                <td> {{ booking.dateTo | date: 'dd-MM-yyyy' }} </td>
                <td> {{ booking.guests }} </td>
                <td class="alert" [ngClass]="getStatusClass(booking.status)" role="alert"> {{ booking.status }} </td>
                <td> {{ booking.contactName }} </td>
                <td> {{ booking.phone }} </td>
                <td> {{ booking.reference }} </td>  
                <td> 
                  <button type="button" class="btn btn-outline-primary" (click)="myModal.openModal()"><i class="fa fa-edit" aria-hidden="true"></i></button> 
                  <app-admin-booking-edit-modal #myModal [id]="booking.id" (bookingUpdatedEvent)="bookingUpdatedEvent($event)"></app-admin-booking-edit-modal>
                </td>
                <td> 
                  <button type="button" class="btn btn-outline-primary" (click)="messagesModal.openModal()"><i class="fa fa-comments-o" aria-hidden="true"></i></button> 
                  <app-admin-booking-message-modal #messagesModal [id]="booking.id"></app-admin-booking-message-modal>
                </td>
            </tr>
        </tbody>
      </table>
      <button *ngIf="bookings.length > 0" style="width: 100%;" class="btn main-btn" (click)='loadMoreBookings()'><i class="fa fa-refresh"></i> Load More</button>
</div>

  